<nz-modal [(nzVisible)]="isVisible" nzWrapClassName="vertical-center-modal" [nzWidth]="280"  [nzContent]="modalContent"
    [nzFooter]="null" (nzOnCancel)="handleCancel($event)">
    <ng-template #modalContent>
        <div >
            <div class="title">
                <span [ngClass]="{'zw-iconfont': true, 'iconfont': true, 'icon-warning': _itemObj && _itemObj.type == 'delete'}" style="float: left;"></span>
                <span style="float: left;margin-left: 16px;" *ngIf="_itemObj && _itemObj.type == 'delete'" >删除提示</span>

                <span [ngClass]="{'zw-iconfont': true, 'iconfont': true, 'icon-help': _itemObj && _itemObj.type == 'confirm'}" style="float: left;"></span>
                <span style="float: left;margin-left: 16px;" *ngIf="_itemObj && _itemObj.type == 'confirm'" >确认提示</span>

                <span [ngClass]="{'zw-iconfont': true, 'iconfont': true, 'icon-success': _itemObj && _itemObj.type == 'success'}" style="float: left;"></span>
                <span style="float: left;margin-left: 16px;" *ngIf="_itemObj && _itemObj.type == 'success'" >成功提示</span>

                <span [ngClass]="{'zw-iconfont': true, 'iconfont': true, 'icon-info': _itemObj && _itemObj.type == 'information'}" style="float: left;"></span>
                <span style="float: left;margin-left: 16px;" *ngIf="_itemObj && _itemObj.type == 'information'" >信息提示</span>
            </div>
            <div class="text-content" title="{{_itemObj && _itemObj.message}}">
                {{_itemObj && _itemObj.message}}
            </div>
            <div class="content-footer" style="float: right;">
                <button nz-button nzType="default" [nzSize]="small" style="height: 24px;margin-right: 8px;" (click)="handleCancel($event)">取消</button>
                <button nz-button nzType="primary" [nzSize]="small" style="height: 24px;" (click)="confirmCancel($event)">确认</button>
            </div>
            <div style="content:'';
            height:0;
            line-height:0;
            display:block;
            clear:both;
            visibility:hidden;"></div>
        </div>
    </ng-template>
</nz-modal>